footer.mt-auto.py-5.px-2.bg-gray-100
    div.container.text-center
        p Copyright &copy; 2019 
            strong= siteTitle
            | . All rights reserved.
        p
            a(href='/') Home
            |  | 
            a(href='/pages/rates') Rates
            |  | 
            a(href='/pages/contact') Contact
