footer.mt-auto.py-5.px-2.bg-gray-100
    div.container.text-center
        p All content on this site copyright &copy; 2019 
            strong= siteTitle
            | . All rights reserved.
        p
            a(href='/') Home
            |  | 
            a(href='/admin') Employees
