footer.footer(style='margin-top: auto; bottom: 0;')
    div.content.container.has-text-centered
        p All content on this site copyright &copy; 2019 
            strong= siteTitle
            | . All rights reserved.
        p
            a(href="/") Home
            |  | 
            a(href="/admin") Employees
