-
    function parseAmount(amount) {
        return parseFloat(amount.toString().replace(/[^\d\.]/g, '')).toFixed(2)
    }
    
    function balanceString(balance) {
        if(balance.toLocaleString().includes('.')) {
            return balance.toLocaleString()
        } else {
            return balance.toLocaleString() + '.00'
        }
    }

doctype html
<html lang="en">
    head
        -
            const siteTitle = 'New Jersey Credit Union Mutual Bank LLC'
            if(pageTitle)
                //- page title already exists
                pageTitle = `${pageTitle} | ${siteTitle}`
            else
                //- just use site title
                pageTitle = siteTitle

        title= pageTitle

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        link(rel='stylesheet' href='/css/main.css')

        style.
            html {
                height: 100%;
            }

            body {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            body .container {
                width: inherit;
            }

    //- Just open the tag, the abbreviation would auto-close it
    <body>
