nav
    div.container.mx-auto
        a(href="/")
            div.brand
                span.is-size-5.has-text-weight-semibold= siteTitle
        div.menu
            - if(authenticated)
                a(href="/b/accounts") Accounts
                a(href="/b/transfer") Transfer
            a(href="/pages/rates") Rates
            a(href="/pages/contact") Contact
            - if(authenticated)
                a(href="/a/logout") Logout
                    span.tag= username.split('.').join(' ').toUpperCase()
            - else
                a(href="/") Login

style.
    nav {
        background-color: #f5f5f5;
    }