include partials/head.pug
include partials/header.pug

main#landing
    div.container.m-auto
        section.card.text-center.p-0
            header
                h1.text-4xl= siteTitle
                h2.text-lg Contact Us
            article.left-text
                h3 Support
                a support@njcreditunionmutual.com

                br
                h3 Fraud
                a fraud@njcreditunionmutual.com

                br
                h3 Sales
                a sales@njcreditunionmutual.com

include partials/footer.pug
include partials/foot.pug