include partials/head.pug
include partials/header.pug

div.container(class='my-5 mx-auto')
    h1.title Error
    h2.subtitle= error || 'An unknown error occured.'

    button.button.is-info(onclick="window.history.back(1)" autofocus) &laquo; Try again

include partials/footer.pug
include partials/foot.pug
