include partials/head.pug
include partials/header.pug

-
    const errors = {
        user: 'Provided username is invalid.',
        pass: 'Provided password is invalid.',
        vrfy: 'Verification failed.'
    }

    let error = null

    if(query && query.error)
        if(errors[query.error])
            error = errors[query.error]
        else
            error = 'An error occurred. Please try again.'

main#landing
    div.container.m-auto
        section.card.text-center.p-0
            header
                h1.text-4xl= siteTitle
                h2.text-lg The feeling is Mutual. Bank on it.
            article
                form.text-left(method='post' action='/a/login')
                    - if(error)
                        .field
                            span.tag.red= error
                    .field
                        input.input#username(name='username' placeholder='Username' autofocus)
                    .field
                        input.input#password(name='password' placeholder='Password' type='password')
                    .field.flex-row
                        button.button.bg-green-500.text-white(type='submit') Log In
                        a.button.bg-blue-500.text-white(href='/c/apply') Apply Now
            footer.text-left
                h4.normal-case.mb-2.underline
                    a(href='/a/recover') Forgot your password?
                h4.text-gray-500
                  span Warning: Microsoft will never ask you to log into your bank. 
                  a Learn more.

include partials/footer.pug
include partials/foot.pug