include partials/head.pug
include partials/header.pug

main#landing
    div.container.m-auto
        section.card.text-center.p-0
            header
                h1.text-4xl= siteTitle
                h2.text-lg Current Rate Table
            article.left-text
                h3 Savings
                div 2.05%

                br
                h3 Checking
                div 0.25%

                br
                h3 10 Year CD
                div 5.08%

include partials/footer.pug
include partials/foot.pug